<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
        <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
                {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
        </header>
        <header class="navigation" role="banner">
            <div class="navigation-wrapper">
                <nav role="navigation">
                    <ul id="js-navigation-menu" class="navigation-menu show">
                        <li class="nav-link"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="nav-link"><a href="http://twitter.com/njhowell" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li class="nav-link"><a href="http://flickr.com/photos/nickhowell" target="_blank"><i class="fa fa-flickr"></i> Photos</a></li>
                        <li class="nav-link"><a href="http://github.com/njhowell" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>  


    
    

