---
layout: default
---

<div class="home">

  <div id="main" class="call-out call-out-override"
       style="background-image: url('{{ site.header_feature_image | relative_url }}')">
    <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
  </div>
  <article>
    <section class="post-content">
        My name is Nick Howell. I'm a Systems Administrator for <a href='https://www.red-gate.com'>Redgate</a>. Most of my time at work is spent on virtualisation (Vmware and Openstack), 
        networking and maintaining our Windows and Linux servers. I spend a lot of my time working in <a href='https://www.puppetlabs.com'>Puppet</a>) and we firmly believe that 
        <a href='https://en.wikipedia.org/wiki/Infrastructure_as_code'>infrastructure as code</a> is the way forward. 
        <br /></br>
        At home I'm a husband and father. On the rare occasion when I have some spare time, I can usually be found taking photos (<a href='https://flickr.com/photos/nickhowell'>Flickr</a>|<a href='https://instagram.com/njhowell54'>Instagram</a>) 
        or tinkering with something computer related.
    </section>      
  </article>

  {% include blog.html %}
    
</div>
